@keyframes flip-words {
  0%, 5% {
    opacity: 0;
    transform: translateY(100%);
  }
  10%, 25% {
    opacity: 1;
    transform: translateY(0);
  }
  30%, 100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.animate-flip-words {
  display: inline-block;
  animation: flip-words 6s cubic-bezier(0.76, 0, 0.24, 1) infinite;
  background: linear-gradient(90deg, #d946ef, #22d3ee);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow:
  0 0 12px rgba(217, 70, 239, 0.4),
    0 0 6px rgba(34, 211, 238, 0.6);
    
    margin-bottom: 7px;
}

/* Stagger the start times */
.animate-flip-words:nth-child(1) {
  animation-delay: 0s;
}
.animate-flip-words:nth-child(2) {
  animation-delay: 2s;
}
.animate-flip-words:nth-child(3) {
  animation-delay: 4s;
}
